<form [formGroup]="formLivros" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="titulo" class="form-label">Titulo do livro:</label>
      <input type="text" class="form-control" id="titulo" formControlName="titulo">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="subtitulo" class="form-label">Subtitulo do livro:</label>
      <input type="text" class="form-control" id="subtitulo" formControlName="subtitulo">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="npaginas" class="form-label">Número de Paginas:</label>
      <input type="number" class="form-control" id="npaginas" formControlName="npaginas">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="anop" class="form-label">Ano de publicação:</label>
      <input type="number" class="form-control" id="anop" formControlName="anop">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
      <label for="edicao" class="form-label">Edição:</label>
      <input type="number" class="form-control" id="edicao" formControlName="edicao">
      <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
    </div>
    <div class="mb-3">
        <label for="autor" class="form-label">Autor:</label>
      <input type="text" class="form-control" id="autor" formControlName="autor">
    </div>
    <label for="autor" class="form-label">Gênero literário:</label>
        <div class="mb-3" style="display: flex;">
          
            <tr *ngFor="let categoria of categorias" style="flex:1; width: 200px; margin: 10px;">
                <td [formGroup]="formLivros">
                    <input class="form-check-input" type="radio" name="categoria" value="{{categoria.id}}" id="categoria" formControlName="categoria">
                    <label class="form-check-label" >{{categoria.descricao}}</label>
                </td>
            </tr>
        </div>

     
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
  
